<h2 class="Fz-7 Fw-2 C-red Ta-c Font-2 Mb-30">{{easy-title}}</h2>
<ul class="Pos-r">
    {{#easy}}<li class="easy-li D-ib Va-t {{classnames}}">
        <div class="icon" style="background-image:url(../images/bullet.gif)">{{number}}</div>
        <div class="easy-txt-wrap M-0a C-red">
            <h3 class="Font-2 Fw-1 Ls-4 Lh-4 Mt-15">{{{title}}}</h3>
            <p class="Fz-2 Lh-3 Mt-0">{{{desc}}}</p>
        </div>
    </li>{{/easy}}
</ul>