<footer>
    <div style="margin:50px auto 60px auto">
        {{#social}}
                <ul class="circle-wrap D-ib">
                    {{#group}}
                    <li class="D-ib circle">
                        <a class="D-b" href="" title="{{name}}">
                            <div class="icon M-0a" style="background-image:url(../images/social-icons/{{image}})">
                                <span class="noTxt">{{name}}</span>
                            </div>
                        </a>
                    </li>
                    {{/group}}
                </ul>
        {{/social}}
    </div>
    <ul class="Mb-30 ft-nav Lh-7">
        {{#footer}}<li class="D-ib ft-nav-li">
            <a class="C-red Td-0" href="{{url}}">{{name}}</a>
        </li>{{/footer}}
    </ul>
    <div class="M-0a C-red Ta-c Fz-2 Lh-4" style="max-width: 500px">
        <p>{{{footnote}}}</p>
        <copyright>
            <p>{{{copyright}}}</p>
        </copyright>
    </div>
</footer>