<nav>
    <div class="fst Ta-r">
        <ul>
            {{#menu}}
            <li class="D-ib Ta-c nav-li">
                <a class="nav-li-a Fz-3 Td-0 D-b W-100 H-100" href={{url}} data-index={{@index}}>
                    {{name}}
                </a>
                <div class="snd Pos-a W-100 L-0 Z-3 Ov-h Ta-l" style="top:160px; padding:0 0 50px 0">
                    <div class="M-0a" style="width:900px">
                        <h2 class="Font-2 C-wht Fw-1 Fz-8 Mb-1 Ls-5">{{name}}</h2>
                        <div class="desc D-ib Va-t" style="width:400px; margin: 0 100px 0 0">
                            {{#if desc}}
                            <p class="M-0 C-grey2">{{desc}}</p>
                            {{/if}}
                        </div>
                        {{#if children}}
                        <ul class="snd-ul D-ib">
                            {{#children}}
                            <li>
                                <a class="Td-0" href={{url}}>{{name}}</a>
                                {{#if children}}
                                <div class="trd">
                                    <ul>
                                        {{#children}}
                                        <li>
                                            <a class="Td-0" href={{url}}>{{name}}</a>
                                        </li>
                                        {{/children}}
                                    </ul>
                                </div>
                                {{/if}}
                            </li>
                            {{/children}}
                        </ul>
                        {{/if}}
                    </div>
                </div>
            </li>
            {{/menu}}
        </ul>
    </div>
</nav>