<nav>
    <div class="fst">
        <ul>
            {{#menu}}
            <li class="D-ib Ta-c nav-li">
                <a class="nav-li-a Td-0 D-b W-100 H-100" href={{url}} data-index={{@index}}>
                    {{name}}
                </a>
                <div class="snd Pos-a W-100 L-0 Z-3 Ov-h" style="top:160px">
                    {{#if desc}}
                    <div class="desc">
                        {{desc}}
                    </div>
                    {{/if}}
                    {{#if children}}
                    <ul>
                        {{#children}}
                        <li>
                            <a href={{url}}>{{name}}</a>
                            {{#if children}}
                            <div class="trd">
                                <ul>
                                    {{#children}}
                                    <li>
                                        <a href={{url}}>{{name}}</a>
                                    </li>
                                    {{/children}}
                                </ul>
                            </div>
                            {{/if}}
                        </li>
                        {{/children}}
                    </ul>
                    {{/if}}
                </div>
            </li>
            {{/menu}}
        </ul>
    </div>
</nav>